body {
  text-align: center;
  padding-top: 100px;
}

main {
  display: flex;
  justify-content: center;
}

main div {
  width: 120px;
  height: 120px;
}

.id1 {
  background-color: blue;
}

.id2 {
  background-color: green;
}

.id3 {
  background-color: red;
}

.id4 {
  background-color: yellow;
}

.id5 {
  background-color: purple;
}

button {
  margin-top: 20px;
  width: 120px;
}

.animation {
  animation: fade 0.64s;
  animation-fill-mode: forwards;
  opacity: 1;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.iadatacontainer,
.playerdatacontainer {
  visibility: hidden;
}
